* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Work Sans";
    color: #2b292d;
}

section {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 64px;
}

@media screen and (min-width: 1400px) {
    .header {
        background-color: #f3c6bd;
        height: 62px;
        align-items: center;
        width: 1140px;
    }
}

.header__wrapper {
    background-color: #f3c6bd;
}

@media screen and (min-width: 1400px) {
    .header__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 39px;
        padding-bottom: 0;
    }
}

.header__button {
    display: none;
}

@media screen and (min-width: 1400px) {
    .header__button {
        display: block;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 48px;
    height: 48px;
    margin: 8px 13px 8px 15px;
}

.logo__text {
    display: flex;
    flex-direction: column;
}

.logo__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2b292d;
}

.logo__subtitle {
    display: none;
}

@media screen and (min-width: 1400px) {
    .logo__subtitle {
        display: block;
        font-size: 18px;
        line-height: 25px;
        color: #2b292d;
        opacity: 0.6;
    }
}

.burger {
    width: 58px;
    height: 100%;
    border-left: 1px solid #00000026;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1400px) {
    .burger {
        display: none;
    }
}

.headline {
    width: 100%;
}

@media screen and (min-width: 1400px) {
    .headline {
        max-width: 1140px;
        display: flex;
        position: relative;
        margin-top: 84px;
        padding-bottom: 77px;
    }
}

.headline__inner {
    margin: 35px 15px 33px;
}

@media screen and (min-width: 1400px) {
    .headline__inner {
        margin: 0px;
        position: absolute;
        z-index: 1;
    }
}

.headline__image {
    margin-bottom: 36px;
    margin-left: auto;
}

.headline__image img {
    width: 100%;
}

@media screen and (min-width: 1400px) {
    .headline__image img {
        position: relative;
        right: -105px;
    }
}

.headline__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.3125px;
    margin-bottom: 0px;
}

@media screen and (min-width: 1400px) {
    .headline__title {
        width: 754px;
        height: 165px;
        font-size: 80px;
        line-height: 78px;
        letter-spacing: -0.5px;
        margin: 0px;
    }
}

.headline__text {
    margin: 0px;
    margin-top: 24px;
    font-size: 24px;
    line-height: 34px;
}

@media screen and (min-width: 1400px) {
    .headline__text {
        margin: 0;
        margin-top: 34px;
        height: 102px;
        width: 456px;
        font-size: 24px;
        line-height: 34px;
    }
}

.headline__buttons {
    margin-top: 30px;
}

.standart-button {
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    font-size: 18px;
    font-weight: 700;
    border: none;
    width: 100%;
    text-align: center;
    color: #fff;
    border-radius: 2px;
}

@media screen and (min-width: 1400px) {
    .standart-button {
        width: 160px;
    }
}

.standart-button_more {
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    color: #3040c4;
    margin-top: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.about {
    display: flex;
    justify-content: center;
}

.about__wrapper {
    padding: 46px 15px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1400px) {
    .about__wrapper {
        max-width: 1400px;
        padding: 77px 130px 76px 130px;
        justify-content: space-between;
    }
}

.about__title {
    color: #2b292d;
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    margin: 0px;
}

.about__text {
    color: #2b292d;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0px;
    margin-top: 6px;
}

.about__item:last-child {
    margin-top: 20px;
}

@media screen and (min-width: 1400px) {
    .about__item {
        margin: 0px;
        width: 555px;
    }
    .about__item:last-child {
        margin: 0px;
    }
}

.audience {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 161, 198, 0.07);
}

.audience__wrapper {
    text-align: center;
    padding: 50px 15px;
}

@media screen and (min-width: 1400px) {
    .audience__wrapper {
        padding: 108px 0px 110px;
    }
}

.audience__section-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
}

.audience__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.36px;
    margin: 0;
    margin-top: 17px;
}

@media screen and (min-width: 1400px) {
    .audience__title {
        max-width: 555px;
        margin: auto;
        margin-top: 24px;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }
}

.audience__text {
    font-size: 24px;
    line-height: 34px;
    margin-top: 18px;
    margin-bottom: 30px;
}

@media screen and (min-width: 1400px) {
    .audience__text {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 34px;
        max-width: 555px;
    }
}

@media screen and (min-width: 1400px) {
    .audience__button {
        width: 160px;
        margin: 0;
    }
}

.audience__button_learn {
    color: #2b292d;
    margin-bottom: 40px;
}

.audience__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 1400px) {
    .audience__cards {
        margin-top: 111px;
        justify-content: center;
    }
}

.card {
    width: 290px;
    height: 300px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-left: 10px;
}

@media screen and (min-width: 1400px) {
    .card {
        width: 262px;
        margin-right: 30px;
    }
}

.card:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

.card:hover {
    background-color: #3141c5;
    color: #fff;
}

.card img {
    margin: 22px auto;
}

.card__title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 33px;
}

.order {
    background-color: #f4f5f7;
}

.order__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 15px;
    background-color: #f4f5f7;
}

@media screen and (min-width: 1400px) {
    .order__wrapper {
        padding: 73px 0 72px;
        max-width: 1400px;
    }
}

.order__img {
    min-width: 200px;
    max-width: 400px;
}

@media screen and (min-width: 1400px) {
    .order__img {
        margin-right: 121px;
    }
}

@media screen and (min-width: 1400px) {
    .order__content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        max-width: 550px;
    }
}

.order__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin: 0;
    margin-top: 40px;
}

.order__subtitle {
    margin: 0;
    margin-top: 18px;
    font-size: 22px;
    line-height: 32px;
}

@media screen and (min-width: 1400px) {
    .order__form {
        display: flex;
        align-items: center;
        margin-top: 26px;
        width: 100%;
    }
}

.order__input {
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid rgba(43, 41, 46, 0.1);
    border-radius: 2px;
    height: 48px;
    width: 100%;
    text-align: center;
    line-height: 13px;
}

@media screen and (min-width: 1400px) {
    .order__input {
        margin-top: 0;
    }
}

.order__button {
    margin-top: 12px;
}

@media screen and (min-width: 1400px) {
    .order__button {
        margin-top: 0;
        margin-left: 10px;
    }
}

.order__bottom-text {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: #2b292d;
}

.order__bottom-text_link {
    color: #3141c5;
    text-decoration: underline;
}

.footer__topline {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 40px;
    margin-top: 44px;
}

@media screen and (min-width: 1400px) {
    .footer__topline {
        align-items: flex-start;
    }
}

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1400px) {
    .footer__logo {
        flex-direction: row;
    }
}

.footer__logo_img {
    height: 60px;
    width: 60px;
}

@media screen and (min-width: 1400px) {
    .footer__logo_img {
        margin-right: 15px;
    }
}

.footer__logo .footer__logo_text {
    text-align: center;
}

.footer__logo_subtitle {
    margin-top: 5px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    opacity: 0.6;
    font-weight: 300;
}

@media screen and (min-width: 1400px) {
    .footer .footer-loto-title {
        text-align: left;
    }
}

.footer__aditional-text {
    display: none;
}

@media screen and (min-width: 1400px) {
    .footer__aditional-text {
        display: block;
        margin-top: 26px;
        line-height: 26px;
        font-size: 18px;
        opacity: 0.6;
        width: 360px;
    }
}

.footer__downloads {
    margin: 31px 30px 0px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1400px) {
    .footer__downloads {
        margin: 0px;
        margin-top: 25px;
    }
}

.footer__downloads_item {
    margin-right: 10px;
}

.footer__downloads_item:last-child {
    margin-right: 0;
}

@media screen and (min-width: 1400px) {
    .footer__inner {
        display: flex;
        margin: 0 auto;
        width: 1140px;
    }
}

.footer__about-links {
    margin: 0px 15px 30px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1400px) {
    .footer__about-links {
        flex-direction: row;
        margin-top: 16px;
        margin-left: 126px;
    }
}

.footer__about-links_title {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #2b292d;
    margin: 0px;
}

.footer__about-links_item {
    width: 265px;
    margin-top: 30px;
}

@media screen and (min-width: 1400px) {
    .footer__about-links_item:last-child {
        margin-left: 29px;
    }
}

.footer__about-links_link {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    color: #2b292d;
    opacity: 0.6;
    margin-top: 18p;
}

.footer__about-links_text {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.footer__media-links {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1400px) {
    .footer__media-links {
        border-top: 1px solid rgba(43, 41, 46, 0.1);
        height: 50px;
        width: 98%;
    }
}

@media screen and (min-width: 1400px) {
    .footer__media-links_inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1140px;
        margin: 0 auto;
    }
}

.footer__media-links_documents {
    line-height: 50px;
    font-size: 14px;
}

.footer__link {
    text-decoration: none;
    color: #2b292d;
    opacity: 0.6;
    margin-right: 22px;
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__media-icons {
    margin-top: 30px;
    margin-bottom: 22px;
}

.footer__media-icons_item {
    width: 18px;
    margin-left: 20px;
}

.footer__media-icons_item:first-child {
    margin-left: 0;
}

.nav {
    display: none;
}

@media screen and (min-width: 1400px) {
    .nav {
        display: flex;
        margin-left: auto;
    }
}

.nav__link {
    display: block;
    margin-right: 50px;
    text-decoration: none;
    color: #2b292d;
    line-height: 25px;
    font-size: 18px;
}

.nav__link:last-child {
    margin-right: 56px;
}

.nav__link_selected {
    font-weight: 700;
}